# .env.example
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
BRIKAYA_CLOUDFLARE_PAGES_PROJECT_NAME=brikaya-live
BRIKAYA_CLOUDFLARE_PAGES_BRANCH=main
BRIKAYA_CLOUDFLARE_PAGES_OUTPUT_DIR=dist
BRIKAYA_CLOUDFLARE_PAGES_CUSTOM_DOMAIN=brikaya.com
BRIKAYA_INDEXNOW_KEY=
BRIKAYA_INDEXNOW_ENDPOINT=https://yandex.com/indexnow
BRIKAYA_INDEXNOW_PUBLIC_ROOT=dist
BRIKAYA_INDEXNOW_SITEMAP=dist/sitemap.xml
BRIKAYA_INDEXNOW_DRY_RUN=true
BRIKAYA_GOOGLE_SEARCH_CONSOLE_PROPERTY=sc-domain:brikaya.com
BRIKAYA_GOOGLE_SEARCH_CONSOLE_DNS_TXT=
BRIKAYA_ASSET_MANIFEST_OUTPUT=
BRIKAYA_ASSET_MANIFEST_PUBLIC_ROOT=
BRIKAYA_AUDIO_QA_REPORT=
BRIKAYA_AUDIO_QA_SCREENSHOT=
BRIKAYA_BALL_TURRET_DESKTOP_SCREENSHOT=
BRIKAYA_BALL_TURRET_MENU_SCREENSHOT=
BRIKAYA_BALL_TURRET_MOBILE_SCREENSHOT=
BRIKAYA_BALL_TURRET_QA_REPORT=
BRIKAYA_BUILD_ID=
BRIKAYA_CHROME_HOST_RESOLVER_RULES=
BRIKAYA_CINEMATIC_COUNTDOWN_LANDSCAPE_SCREENSHOT=
BRIKAYA_CINEMATIC_COUNTDOWN_SCREENSHOT=
BRIKAYA_CINEMATIC_LEVEL_SCREENSHOT=
BRIKAYA_CINEMATIC_QA_REPORT=
BRIKAYA_CINEMATIC_RIP_SCREENSHOT=
BRIKAYA_DASHBOARD_QA_TRACE=
BRIKAYA_EVASIVE_QA_REPORT=
BRIKAYA_EVASIVE_QA_SCREENSHOT=
BRIKAYA_I18N_SEO_QA_REPORT=
BRIKAYA_I18N_SEO_QA_SCREENSHOT=
BRIKAYA_LASER_QA_ITEM_SCREENSHOT=
BRIKAYA_LASER_QA_REPORT=
BRIKAYA_LASER_QA_SCREENSHOT=
BRIKAYA_METAL_QA_REPORT=
BRIKAYA_METAL_QA_SCREENSHOT=
BRIKAYA_PUBLIC_URL=
BRIKAYA_RUNTIME_UPDATE_MODE=
BRIKAYA_RUNTIME_UPDATE_PROFILE=
BRIKAYA_RUNTIME_UPDATE_REPORT=
BRIKAYA_RUNTIME_UPDATE_SCREENSHOT=
BRIKAYA_SVG_ASSETS_QA_REPORT=
BRIKAYA_SVG_ASSETS_QA_SCREENSHOT=
BRIKAYA_SW_FILE=
